body{
    background-image: url('background\ transparant.png');
}

.judul{
    text-align: center;
    text-decoration-line:underline;
    text-decoration-style: double;
    text-decoration-color:green;
}

.Header{
    width: 100px;
    margin: 0px;
    position:relative;
}

.column.middle{
    text-align: justify;
}

h2{
    color:#62a53c;
    text-decoration: underline;
    text-decoration-color: #fcfffa;
}
/* Kode CSS Navigator */
ul{
    list-style:none;
    background: #859F3D;
    padding: 0px 0px;
    margin: 0px;
    position:relative;
    width: 1280px;
    height: 60px;
} 

ul li{
    display: inline-block ;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    padding: 10px 0px;
    text-align: justify;
}

ul a:hover{
    background-color: #31511E;
}

/* Kode css dropdown */
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.column1{
    text-align: justify;
    float: left;
    padding: 10px;
    height: 1150px;
    width: 390px;
}

.column2{
    text-align: justify;
    float: left;
    margin: 0px 8px;
    padding: 10px;
    height: 1150px;
    width: 390px;
}

.column3{
    text-align: justify;
    float: left;
    padding: 10px;
    height: 1150px;
    width: 390px; 
}

.awal{
    background-color: #859F3D;
}

.dahulu{
    text-align: justify;
    padding: 0px 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.kerjasama{
    color:green;
}

.footer{
    width: 1280px;
    position: absolute;
    top:1890px;
    right: 5px;
    left: 7px;
}